     <div class = 'block1'>
     {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}


    {% for product in product %}
        <div class="col-6 my-4 bg_self">
        <div class="row ">
            <div class="col-md-9">
                {% if product.photo %}
        <img class="avatar" src="{{product.photo.url }}" width="250" height="250" alt="user picture">
        {% endif %}
        <p class = "title"><a href="{% url "webapp:product_view" product.pk %}">{{ product.name }}</a></p>
        <div class="description"><i>{{ product.description | linebreaks }}</i></div>
            </div>
        <div class="col-md-3">
        <a class="btn btn-outline-success" href="{% url 'webapp:product_update' product.pk %}"> <i class="fa fa-fw fa-edit"></i></a>
        <a class="btn btn-outline-danger" href="{% url 'webapp:product_delete' product.pk %}"> <i class="fa fa-fw fa-trash"></i></a>
              </div>
        </div>
        </div>
        <hr>

        </div>

    {% endfor %}



     {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
