
{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="#">Отмена</a></li>
{% endblock %}

{% block content %}
    <div class="block1">
    <h1>Вы уверены, что хотите удалить продукт "{{ product.name }}"?</h1>
      <form action="{% url "webapp:product_delete" product.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'webapp:product_view' product.pk %}">Отмена</a></p>
    </form>
    <h3>Описание: </h3>
    <p>{{ product.description }}</p>
    </div>
{% endblock %}
